pydantic==2.12.4
kafka==1.3.5
PyYAML==6.0.3
requests==2.32.5
ratelimit==2.2.1
pydantic-settings==2.11.0
kafka-python==2.2.15
python-snappy==0.7.3
pyspark==3.4.0
snowflake-connector-python>=3.6.0
snowflake-snowpark-python>=1.11.0
pyarrow>=14.0.0
pandas>=2.0.0